h1 {
    text-align: center;
    color: purple;
    background-color: rgb(137, 196, 248);
    border-color: rgb(255, 0, 0);
    border: 2px solid;
    padding: 20px;
}

#emilia{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;


}
img {
    height: 300px;
}


.para1{
    color: rgb(158, 24, 170);
}

.para2{
    color: darkslateblue;
}