h1 {
    text-align: center;
    color: purple;
    background-color: rgb(137, 196, 248);
    border-color: rgb(255, 0, 0);
    border: 2px solid;
    padding: 20px;
}
#prom{
  
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#emilia{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 14px solid;
    border-color: pink;

}
img {
    height: 300px;
}

h3{
    background-color: blue;
    color: white;
}

.para1{
    color: rgb(158, 24, 170);
}

.para2{
    color: darkslateblue;
}